.details {
    background-color: $color-primary;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 70vh;
    clip-path: polygon(0 13%, 100% 0, 100% 87%, 0 100%);

    &__item {
        color: $color-secondary;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        max-width: 25rem;
        text-align: center;
        
    }

    &__title{
        font-size: 3rem;
    }

    &__describe{
        margin-top: 1rem;
        font-size: 1.6rem;
    }

    &__item img{
        width: 15rem;
        height: 15rem;
    }

}