.hero {
  background:$color-bg;
  clip-path: polygon(0 0, 100% 0, 100% 88%, 0% 100%);
  padding-top: 12rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  position: relative;
  padding-bottom: 3rem;
  width: 100%;
  height: 100vh;

  @include respond(tab-land) {
    padding-top: 18rem;
    justify-content: center;
    flex-direction: column;
    padding-bottom: 18rem;
  }

  @include respond(big-desktop) {
    justify-content: center;
  }


  &__text {
    margin-top: 5rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: $color-white;
    font-family: $font-family-secondary;
    font-weight: 800;
    width: 70%;

    @include respond(tab-land) {
      padding-top: 2rem;
      padding-bottom: 2rem;
    }

    @include respond(tab-port) {
      width: 100%;
    }
  }

  &__text p {
    position: relative;
    font-size: 5rem;
    font-family: $font-family-secondary;
    font-weight: 800;
    color: $color-white;
    transform: scale(1,2);
    text-transform: uppercase;



    &:nth-child(2) {
      margin-top: 5rem;
      -webkit-text-stroke: 0.05vw $color-primary;
      color: rgba(255, 255, 255, 0.014);


      @include respond(tab-land) {
        transform: translateX(5rem);
      }

      @include respond(phone) {
        transform: translateX(2rem);
      }

  //     &::before {
  //       content: attr(data-text);
  // position: absolute;
  // top: 0;
  // left: 0;
  // width: 0; 
  // height: 100%;
  // color: var(--color-primary); 
  // border-right: 3px solid $color-primary; 
  // overflow: hidden;
  // animation: animeText 6s linear infinite;
  //     }
  //   }
  }
    @include respond(big-desktop) {
      font-size: 7rem;
    }

    @include respond(tab-land) {
      font-size: 5rem;
    }

    @include respond(tab-port) {
      font-size: 4.6rem;
    }
    @include respond(phone) {
      font-size: 3.5rem;
    }




  }



  &__motto {
    margin-top: 15rem;
    display: flex;
    flex-direction: row;
    color: white;
    transform: rotate(-3.5deg);

    @include respond(tab-port) {
      display: none;
    }
    @include respond(tab-land) {
      left: 22%;
    }

    @include respond(big-desktop) {
      left: 20rem;
    }

  }



}

.waviy {
  position: relative;
  -webkit-box-reflect: below -20px linear-gradient(transparent, rgba(0, 0, 0, .2));
  font-size: 2.5rem;
  margin-left: 5rem;
  transform: translateY(-3rem);

  @include respond(tab-port) {
    font-size: 1rem;
  }
  @include respond(tab-land) {
    font-size: 2.5rem;
  }

  @include respond(big-desktop) {
    font-size: 3.5rem;
  }

  span {
    font-family: $font-family-secondary;
    position: relative;
    display: inline-block;
    color: $color-primary;
    animation: waviy 2s infinite;
    animation-delay: calc(0.1s * var(--i));

  }

}