

.navigation{
    &__container{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
    }

    &__item{
      
        list-style: none;
        margin-left: 2rem;
       

    }

    &__item a{
        font-size: $default-font-size;
        font-weight: 700;
        color:$color-white;
        text-decoration: none;
        text-transform:uppercase;
        letter-spacing: 2px;

        &:hover{
            color: rgb(232, 216, 252);
        }
    }


}

